@keyframes leftbtn{
    0%
    {
        transform: translate(-15px, -15px);
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.left{
    position: absolute;
    top: 322px;
    width: 40px;
    height: 40px;
    transform: translateY(80px) translateX(15px)
        rotate(135deg);
}

.left span{
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid#fff;
    cursor: pointer;
}

.left span:hover{
    animation: leftbtn 1.5s linear infinite;
}

@keyframes rightbtn{
    0%
    {
        transform: translate(-15px, -15px);
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.right{
    position: absolute;
    top: 322px;
    right: 25px;
    width: 40px;
    height: 40px;
    transform: translateY(80px) translateX(-15px)
        rotate(315deg);
}

.right span{
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid#fff;
    cursor: pointer;
}

.right span:hover{
    animation: rightbtn 1.5s linear infinite;
}

#background_selection{
    display: block;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid rgba(240, 248, 255, 0.8);
    background-image: url(../css/background4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s ease-in-out;
}

#submit{
    float: right;
    width :20%;
    padding: 5px 20px;
    display: block;
    background: aliceblue;
    border: 0;
    cursor: pointer;
}